<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User İnterface</title>
     <link rel="stylesheet" href="css/style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     

     <%- include('../partiels/navbar/nav.ejs',{nav}) %> 
     <%- include('../partiels/header.ejs') %>
     <%- include('../partiels/main.ejs',{req}) %>
   <div class="about-misyon">
         <div class="misyon-center">
          <span>
               As a 100-person programmer team based in Turkey, we have been developing projects for over 10 years and seeking our place in the global market for the past 3 years. Our main expertise lies in frontend and backend development, web design, and web security.
              </span>
          <span>   
               Security is our top priority for every project we develop. With our expert web security team, we thoroughly test our projects to identify and address any security vulnerabilities in advance. This ensures that we provide our clients with a high level of protection and minimize their concerns about data security.
          </span>
         </div>
   </div>   
  

     <%- include('../partiels/about-content.ejs',{about}) %>

    
     
     <%- include('../partiels/footer.ejs' ,{nav , contact}) %> 
     
     <script src="../partiels/index.js"> </script>
</body>
</html>