<!-- pagination -->


<% if (locals.totalPages > 1) { %>
  <nav class="mt-5">
    <ul class="pagination justify-content-start">
      <li class="page-item">
        <a href="?page=0" class="page-link">ilk sayfa</a>
      </li>
      <li class="page-item">
          <a href="?page=<%=locals.currentPage - 1 %>" class="page-link">önceki sayfa</a>
        </li>
      <% for(let i = 0; i < locals.totalPages; i++) { %>
      <li class="page-item">
        <a href="?page=<%=i%>" class="page-link <%= (i == locals.currentPage) ? "active" : "" %>"><%=i + 1 %></a>
      </li>
      <% } %>
     
      <li class="page-item">
        <a href="?page=<%=locals.totalPages - 1%>" class="page-link">son sayfa</a>
      </li>
    </ul>
  </nav>
<% } %>
