
<div class="blog">
  <div class="blog-img">
    <a href="/blogs/<%=blog.blogid%>">
        <img src="image/<%= blog.image %>" alt="" />
    </a>
  </div>

  <div class="blog-text">
    <h4><%= blog.title %></h4>
    <p class="blog-descr" id="<%=blog.blogid %>"><%= blog.descr %></p>
  </div>
</div>

